@font-face {
  font-family: "DMSerifDisplay-Regular";
  src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "publicSans-Regular";
  src: url(../fonts/PublicSans-Regular.ttf);
}
@font-face {
  font-family: "publicSans-Bold";
  src: url(../fonts/PublicSans-Bold.ttf);
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
